@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,600,700&display=swap");

@font-face {
	font-family: "Causten";
	src: url("../fonts/Causten-Bold.woff2");
	src: url("../fonts/Causten-Bold.woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Causten";
	src: url("../fonts/Causten-Light.woff2");
	src: url("../fonts/Causten-Light.woff");
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Causten";
	src: url("../fonts/Causten-Medium.woff2");
	src: url("../fonts/Causten-Medium.woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Causten";
	src: url("../fonts/Causten-Regular.woff2");
	src: url("../fonts/Causten-Regular.woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Causten";
	src: url("../fonts/Causten-SemiBold.woff2");
	src: url("../fonts/Causten-SemiBold.woff");
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family:"Core Sans C";
	src: url(../fonts/Fontspring-DEMO-coresansc45.woff2);
	src: url(../fonts/Fontspring-DEMO-coresansc45.woff);
	font-display: swap;
	font-weight: 400 ;
	font-style: normal;
}

@font-face {
	font-family:"Core Sans C";
	src: url(../fonts/Fontspring-DEMO-coresansc55.woff2);
	src: url(../fonts/Fontspring-DEMO-coresansc55.woff);
	font-display: swap;
	font-weight: 500 ;
	font-style: normal;
}

@font-face {
	font-family:"Core Sans C";
	src: url(../fonts/Fontspring-DEMO-coresansc65.woff2);
	src: url(../fonts/Fontspring-DEMO-coresansc65.woff);
	font-display: swap;
	font-weight: 700 ;
	font-style: normal;
}

@font-face {
	font-family:"Core Sans C";
	src: url(../fonts/Fontspring-DEMO-coresansc75.woff2);
	src: url(../fonts/Fontspring-DEMO-coresansc75.woff);
	font-display: swap;
	font-weight: 800 ;
	font-style: normal;
}

@font-face {
	font-family:"Core Sans C";
	src: url(../fonts/Fontspring-DEMO-coresansc85.woff2);
	src: url(../fonts/Fontspring-DEMO-coresansc85.woff);
	font-display: swap;
	font-weight: 900 ;
	font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:500,600,700,700italic&display=swap");